* {
  padding: 0;
  margin: 0;
}

.header {
  background-color: #f99a9a;
  border: #f9dada solid 2px;
  display: flex;
}

.nav-logo {
  padding: 10px;
}

.nav-user {
  position: absolute;
  right: 1vmin;
  padding: 20px;
}
